# macOS
.DS_Store

# Ignore straight cache, but keep its lockfile
straight/
! straight/versions/default.el

.cache/
.log/

# project.el projects
projects

# compiled lisp files
eln-cache/

auto-save-list/
savefile/
transient/
eshell/
server/

.mc-lists.el
.lsp-session-v1
recentf
custom.el
