# macOS
.DS_Store

# Ignore straight cache, but keep its lockfile
straight/
! straight/versions/default.el

auto-save-list/
savefile/
transient/

.lsp-session-v1
recentf
projectile-bookmarks.eld
custom.el
